.player-deck {
  display: flex;
  margin: 10px;
  background-color: green;
}

.card-mat {
  display: flex;
  margin: 10px;
  background-color: cyan;
}

.card {
  width: 100px;
  border: solid black 1px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
