.player-deck {
  display: flex;
  margin: 10px;
  background-color: green;
}

.card-mat {
  display: flex;
  margin: 10px;
  background-color: cyan;
}

.scores {
  display: table;
  border-collapse: collapse;
  padding: 10px;
}
.scores > div {
  display: table-row;
}
.scores > div > div {
  display: table-cell;
  padding: 5px;
  width: 100px;
  text-align: center;
  border: 1px solid black;
}

.card {
  width: 100px;
  border: solid black 1px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
